body {
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a2e;;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #fafafa;
    font-size: 24px;
    margin: 0;
}

header p {
    font-size: 16px;
    color: #d8d7d7;
}

.input-section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}

.input-group {
    flex: 1;
    min-width: 200px;
}

.input-group label {
    color: #ffffff;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}

.input-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.action-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center; /* Esto centra los botones horizontalmente */
    flex-wrap: wrap;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn.primary {
    background-color: #4a90e2;
    color: white;
}

.btn.secondary {
    background-color: #6c757d;
    color: white;
}

.result-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-section h3 {
    margin-top: 0;
    font-size: 18px;
}

#result-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

#result-list li {
    padding: 5px 0;
    font-size: 14px;
}

#result-summary p {
    font-size: 19px;
    font-weight: bold;
    margin: 5px 0;
}

.error-box {
    display: none;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 10px;
    border: 1px solid #f5c6cb;
}

.error-box p {
    margin: 0;
    font-size: 14px;
}

.note {
    color: #dc3545;
    font-size: 14px;
    margin-top: 10px;
}

.highlight {
    animation: highlight 1s;
}

@keyframes highlight {
    0% { background-color: #e0e0e0; }
    100% { background-color: white; }
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
    .input-section {
        flex-direction: column;
        gap: 15px; /* Espacio reducido en pantallas pequeñas */
    }
    .input-group {
        min-width: 100%; /* Asegura que los inputs ocupen todo el ancho */
    }
    .action-buttons {
        flex-direction: column;
        gap: 10px;
    }
    .btn {
        width: 100%;
        padding: 12px;
    }
}